main > div {
	margin: 50px 10%;
}

main > div > p {
	font-size: 36px;
	text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
	main > div > p {
		font-size: 32px;
	}
}@media screen and (max-width: 1000px) {
	main > div > p {
		font-size: 22px;
	}
}